@import url("../css/my_normalize.css");
body {
  background-color: #bbbbbb;
}

.header__game-title {
  margin: 0 auto;
  margin-top: 10vh;
  font-size: 2rem;
  text-align: center;
}

.game-field__table {
  margin: 0 auto;
  margin-top: 5vh;
}

.game-field__table td {
  width: 20px;
  height: 20px;
  padding: 0;
  border: 1px solid #000;
}
